## Week 4 Lab

***

## Project Description

In August of 2012, news outlets ranging from the Washington Post to the Huffington Post ran a story about the rise of atheism in America. The source for the story was a poll that asked people, “Irrespective of whether you attend a place of worship or not, would you say you are a religious person, not a religious person or a convinced atheist?” This type of question, which asks people to classify themselves in one way or another, is common in polling and generates categorical data. In this lab we take a look at the atheism survey and explore what’s at play when making inference about population proportions using categorical data.

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import datetime
import random
from datetime import datetime, timedelta
import scipy.stats
import pandas_profiling
from pandas_profiling import ProfileReport
import math


%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

# Use Folium library to plot values on a map.
#import folium

# Use Feature-Engine library
#import feature_engine
#import feature_engine.missing_data_imputers as mdi
#from feature_engine.outlier_removers import Winsorizer
#from feature_engine import categorical_encoders as ce
#from feature_engine.discretisation import EqualWidthDiscretiser, EqualFrequencyDiscretiser, DecisionTreeDiscretiser
#from feature_engine.encoding import OrdinalEncoder

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

How many people were interviewed for this survey?

A poll conducted by WIN-Gallup International surveyed 51,927 people from 57 countries.

Which of the following methods were used to gather information?

All of the above

In the first paragraph, several key findings are reported. These percentages appear to be sample statistics.

True

The title of the report is “Global Index of Religiosity and Atheism”. To generalize the report’s findings to the global human population, We must assume that the sample was a random sample from the entire population in order to be able to generalize the results to the global human population. This seems to be a reasonable assumption.

True

In [2]:
df = pd.read_csv("atheism.csv")

In [3]:
df

       nationality     response  year
0      Afghanistan  non-atheist  2012
1      Afghanistan  non-atheist  2012
2      Afghanistan  non-atheist  2012
3      Afghanistan  non-atheist  2012
4      Afghanistan  non-atheist  2012
...            ...          ...   ...
88027      Vietnam  non-atheist  2005
88028      Vietnam  non-atheist  2005
88029      Vietnam  non-atheist  2005
88030      Vietnam  non-atheist  2005
88031      Vietnam  non-atheist  2005

[88032 rows x 3 columns]

What does each row of Table 6 correspond to?

Countries

What does each row of atheism correspond to?

Religions

## Exploratory Data Analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88032 entries, 0 to 88031
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nationality  88032 non-null  object
 1   response     88032 non-null  object
 2   year         88032 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [5]:
df.describe()

               year
count  88032.000000
mean    2009.129055
std        3.443025
min     2005.000000
25%     2005.000000
50%     2012.000000
75%     2012.000000
max     2012.000000

In [6]:
df.columns

Index(['nationality', 'response', 'year'], dtype='object')

In [7]:
y2012 = df[df["year"] == 2012]

In [8]:
us12 = y2012[y2012["nationality"] == "United States"]

In [9]:
us12

         nationality     response  year
49925  United States  non-atheist  2012
49926  United States  non-atheist  2012
49927  United States  non-atheist  2012
49928  United States  non-atheist  2012
49929  United States  non-atheist  2012
...              ...          ...   ...
50922  United States  non-atheist  2012
50923  United States  non-atheist  2012
50924  United States  non-atheist  2012
50925  United States  non-atheist  2012
50926  United States  non-atheist  2012

[1002 rows x 3 columns]

Next, calculate the proportion of atheist responses in the United States in 2012, i.e. in us12. True / False: This percentage agrees with the percentage in Table~6.

In [10]:
us12.value_counts()

nationality    response     year
United States  non-atheist  2012    952
               atheist      2012     50
dtype: int64

In [11]:
(50/952) * 100

5.2521008403361344

True

Based on the R output, what is the margin of error for the estimate of the proportion of the proportion of atheists in US in 2012?

Which of the following is false about the relationship between p and ME.

True / False: There is convincing evidence that Spain has seen a change in its atheism index between 2005 and 2012.

True / False: There is convincing evidence that the United States has seen a change in its atheism index between 2005 and 2012.

If in fact there has been no change in the atheism index in the countries listed in Table 4, in how many of those countries would you expect to detect a change (at a significance level of 0.05) simply by chance?

Suppose you’re hired by the local government to estimate the proportion of residents that attend a religious service on a weekly basis. According to the guidelines, the estimate must have a margin of error no greater than 1% with 95% confidence. You have no idea what to expect for p. How many people would you have to sample to ensure that you are within the guidelines?

#### Python code done by Dennis Lam